aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
blinker
certifi
charset-normalizer
click
colorama
discord
discord.py
distro
exceptiongroup
Flask
frozenlist
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
multidict
numpy
openai
orjson
packaging
propcache
pydantic
pydantic_core
PyYAML
regex
request
requests-toolbelt
sniffio
SQLAlchemy
tenacity
tiktoken
tqdm
typing_extensions
urllib3
Werkzeug
yarl
